<div class="container" style="background-color: #f0f8ff; padding: 20px;">
    <h4 class="text-center mb-4">Свяжитесь с нами</h4>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/sent-message" method="post">
                <div class="form-group">
                    <label for="full_name"></label>
                    <input type="text" required class="form-control" id="full_name" name="full_name" placeholder="Имя">
                </div>
                <div class="form-group">
                    <label for="phone_number"></label>
                    <input type="tel" required class="form-control" id="phone_number" name="phone_number"
                        placeholder="Телефон">
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" required class="form-control" id="email" name="email"
                        placeholder="E-mail">
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label for="message"></label>
                <textarea class="form-control" id="message" name="message"
                    placeholder="Что вас интересует?"></textarea>
            </div>
          <input type="hidden" name="page_url" value="{{ request.url }}">
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #4682b4;">Отправить</button>
            </div>
            </form>
        </div>
    </div>
</div>