<!DOCTYPE html>
<html>

<head>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Информация о компании:</h1>
        <div class="row">
            <div class="col-md-6">
                
                <p><strong>Адрес офиса:</strong> ул. Серафимовича, 4(ст.м. Пролетарская), Минск, Беларусь</p>
                <p><strong>Название компании:</strong> DreamHouse</p>
                <p><strong>Телефон:</strong> +375 (29) 123-45-67</p> 
                <p><strong>Email:</strong> info@dreamhouse.by</p>
            </div>
            <div class="col-md-6">
                <h2>Свяжитесь с нами</h2>
                {% include 'contactusform.html' %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>