<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>DreamHouse</title>
    
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <div class="row" style="margin-bottom:16px"> 
        <div class="col-md-6"> 
      
      <p class="lead">
        Добро пожаловать на DreamHouse - ваш партнер в мире недвижимости в Беларуси! Мы специализируемся на продаже домов и
        квартир по всей стране, предлагая широкий выбор как вторичного жилья, так и новостроек. Наша компания объединяет в себе
        профессиональных агентов, готовых помочь вам найти идеальное жилье, отвечающее вашим потребностям и предпочтениям.
        Независимо от того, ищете ли вы уютный дом за городом или стильную квартиру в центре, DreamHouse поможет вам осуществить
        вашу мечту о комфортном жилье в самом сердце Беларуси.
        </p>
       </div>
        <div class="d-none d-md-block col-6">
         <img src="/static/people.jpg" style="height:320px;border-radius:4px;">
         </div>
      </div>
        {% include 'search.html' %}
        <div>
          {% for estate in estate %}
             {% include 'estateitem.html'%}
          {% endfor%}
        </div>
        {% include 'contactusform.html' %}
    </div>
     {% include 'footer.html' %}
  </body>
</html>