<!DOCTYPE html>
<html>

<head>
    {% include 'bootstrap.html' %}
    <style>
        /* Стили для изображений сотрудников */
        .employee {
            width: 200px;
            height: 200px;
            margin: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">О нас</h1>
            <div class="container">
                <p> Компания DreamHouse - лидер на рынке недвижимости в Беларуси. Основанная в 2005 году, наша компания с тех пор успешно
                    помогает клиентам в поиске идеального жилья по всей стране. Наш профессиональный подход, глубокое понимание рынка и
                    стремление к качеству делают нас надежным партнером в сфере недвижимости.Мы специализируемся на продаже как вторичного жилья, так и новостроек,
                    обеспечивая наших клиентов широким выбором и высоким уровнем сервиса.</p>
            
                <h2>Наши сотрудники</h2>
                <div class="employees">
                    <div class="employee">
                        <!-- Вставьте ссылку на фото первого сотрудника -->
                    </div>
                    <div class="employee">
                        <!-- Вставьте ссылку на фото второго сотрудника -->
                    </div>
                    <div class="employee">
                        <!-- Вставьте ссылку на фото третьего сотрудника -->
                    </div>
                    <div class="employee">
                        <!-- Вставьте ссылку на фото четвертого сотрудника -->
                    </div>
                </div>
                <p>Наша команда состоит из высококвалифицированных специалистов, каждый из которых привносит свой профессионализм и
                энтузиазм в работу. Наши сотрудники всегда готовы выслушать вас, предложить лучшие варианты и поддержать вас на каждом
                этапе покупки или продажи недвижимости.</p>
            </div>
        {% include 'contactusform.html' %}
    </div>
    {% include 'footer.html' %}
</body>

</html>