<!DOCTYPE html>
<html>

<head>
    <title>{{estate.type}} - DreamHouse</title>
    {% include 'bootstrap.html' %}   
    <style>
        .photos {
            /* Стили для области с фотографиями */
            /* Добавьте свои стили здесь */
        }

        .contact-form {
            /* Стили для формы свяжитесь с нами */
            /* Добавьте свои стили здесь */
        }

        .estate-info {
            /* Стили для области с информацией о недвижимости */
            /* Добавьте свои стили здесь */
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="photos">
                    <!-- Область с фотографиями -->
                    <!-- Добавьте ваш код для фотографий здесь -->
                </div>
                <div class="estate-info">
                    <h1 class="mb-2">{{estate.type}}</h1>
                    <p class="lead mt-0">{{estate.location}}</p>
                    <h4>Комнаты</h4>
                    <p>{{estate.bedroom}}</p>
                    <h4>Стоимость</h4>
                    {% if estate['cost'] is not none %}
                    <p>{{estate.cost}} {{estate.currency}}</p>
                    {% else %}
                    <p>Не указано.</p>
                    {% endif %}
                    <h4>Площадь</h4>
                    <p>{{estate.area}}</p>
                    <h4>Этажность</h4>
                    <p>{{estate.floor}}</p>
                    <h4>Описание</h4>
                    <p>{{estate.description}}</p>
                    <h4>Дополнительная информация</h4>
                    {% if estate['additional_information'] is not none %}
                    <p>{{estate.additional_information}}</p>
                    {% else %}
                    <p>Не указано.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-form">
                    <!-- Форма свяжитесь с нами -->
                    <!-- Добавьте вашу форму здесь -->
                    {% include 'contactusform.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>